{
  "image_group": {
  
    "image_files": {
      "image_path": "simnb01_g_.*\\.fits"
    },
    
    "aperture_photometry": {
      "aperture_size": 3,
      "aggregate": "mean"
    }
  },

  "image_group": {
  
    "image_files": {
      "image_path": "simnb01_r_.*\\.fits"
    },
    
    "aperture_photometry": {
      "aperture_size": 5,
      "aggregate": "mean"
    }
  }
}
