[Desktop Entry]
Name=SourceXtractor++
Type=Application
Terminal=true
NoDisplay=true
Exec=sourcextractor++
Icon=sourcextractor++
Categories=Education;
